body {
    padding: 0;
    margin: 0;
}

#content header {
    height: 150px;
    width: 100vw;
    background-color: chocolate;
}

#content nav {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 100vw;
}

#content h1 {
    font-size: 40px;
}

#content ul {
    display: flex;
    margin-top: 100px;
    height: 50px;
    gap: 25px;
    list-style-type: none;
    font-size: 1.5em;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

#content li {
    border: 2px solid black;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: rgb(218, 137, 6);
    width: 100px;
    height: 30px;
    text-align: center;
    margin-bottom: 150px;
}

button {
    border: none;
    background-color: rgb(218, 137, 6);
    font-weight: 600;
    font-size: 20px;
}

#content button:last-of-type {
    width: 105px;
}

#content li:hover {
    background-color: rgb(175, 118, 13);
    border: 1px solid white;
}

button:hover {
    background-color: rgb(175, 118, 13);
}

#text-content {
    margin-top: 100px;
    margin: 100px auto;            /* margen a la izquierda y derecha */
    padding: 40px 60px;         /* opcional para que no quede pegado al texto */
    border-radius: 10px;
    max-width: 75%;
    height: 50vh;
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: rgb(218, 137, 6);
    width: 100vw;
}

#text-content h1 {
    font-size: 50px;
}

.second-section {
    display: flex;
    flex-direction: column;

}

#text-content img {
    width: 400px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 1px 0px 10px black;
}